# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.iml
*.ipr
*.iws
.idea/

# iOS
.generated/
DerivedData/
Runner/GeneratedPluginRegistrant.h
Runner/GeneratedPluginRegistrant.m
Runner/GeneratedPluginRegistrant.swift
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Web
node_modules/

# Logs and others
*.log
.DS_Store
.env*
!.env.example
